@charset "utf-8";

body {
    /*Colors/Font*/
    background-color: #EBF5FF;
    color: #252525;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    
    /*Positioning*/
    margin: auto;
    width: 50%;
    vertical-align: middle;
}
form {
    margin-right: 40px;
}

label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
}
h1 {
    margin-left: 10px;
}
.bounding-box {
  background-image: url(...);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
